{% extends "loggedin_template.html" %}



{% block title %}
Edit Account
{% endblock %}



{% block main %}

<div>
    <br>
    <p>
        Please verify all info before submitting. If you make a mistake your accoount may not be able to be recovered.
    </p>
    <br>


    <div>
        <table>
            <tr>
                <td><a href="/edit_account/username">Edit Username</a></td>
            </tr>
            <tr>
                <td><a href="/edit_account/password">Edit Password</a></td>
            </tr>
            <tr>
                <td><a href="/edit_account/email">Edit Email</a></td>
            </tr>
            <form>
            </form>
        </table>
    </div>
</div>
{% endblock %}