{% extends "loggedin_template.html" %}


{% block title %}
Edit Groups Page
{% endblock %}



{% block main %}
<script src="{{ url_for('static', filename='script_mylist_edit_groups.js') }}"></script>
<div>
    Edit Groups!
    <div>
        
        <div>
            <br>
        
        
            <form action="/add_to_group" method="post">
        
        
                <label for="groups">Choose A Group:</label>
                <select name="groups" id="groups">
                    <option value="None" disabled selected>Group</option>
        
                    {% for group in groups %}
                    <option value="{{ group['groups_id'] }}">{{ group['groups_name'] }}</option>
                    {% endfor %}
        
                </select>
        
        
                <label for="items">Choose An Item:</label>
                <select name="items" id="items">
                    <option value="None" disabled selected>Item</option>
        
                    {% for item in users_items %}
                    <option value="{{ item['item_id'] }}">{{ item['item_name'] }}</option>
                    {% endfor %}
        
                </select>
        
        
                <label for="quantity">Choose Amount:</label>
                <input name="quantity" id="quantity" type="number" value="1">
        
        
                <input type="submit">
        
            </form>
        
        
        
        </div>



        
        <div id="groups_table">
           
        </div>





    </div>
</div>



{% endblock %}