{% extends "loggedin_template.html" %}



{% block title %}
MyList Home Page
{% endblock %}


{% block main %}
Home Page


    <div>
        <table>
            <tr>
                <th>
                    <p>Needs</p>
                </th>
                <th>
                    <p>Stuff</p>
                </th>
                <th></th>
                <th></th>

            </tr>
            <tr>
                <td>
                    <p>Not sure</p>
                </td>
                <td>
                    <p>What</p>
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}