{% extends "loggedin_template.html" %}



{% block title %}
MyList homepage
{% endblock %}


{% block main %}
Home Page


<div>
    <table>
        <tr>
            <th>
                <p>Needs</p>
            </th>
            <th>
                <p>Stuff</p>
            </th>
            <th></th>
            <th></th>

        </tr>
    </table>

    
    <div>
        <form action="/add_to_active_list_individual" method="post">

            <label for="item_to_add">Add an item to your list:</label>
            <input list="item" id="item_to_add" name="item_to_add" autocomplete="off" />
            <datalist id="item" name="item">
                {% for row in users_items %}
                <option value="{{ row['item_name'] }}"></option>
                {% endfor %}
            </datalist>
            <label for="quantity">Quantity</label>
            <input type="number" value="1" name="quantity" id="quantity" style="width: 40px;">
            <input type="submit">
        </form>
    </div>

    <div>
        <form action="/add_from_group_verification" method="post">

            <label for="group_id">Add all items from group:</label>
            <select name="group_id" id="group_id">
                <option value="None" selected disabled>Group</option>
                {% for groups in users_groups %}
                <option value="{{ groups['groups_id'] }}">{{ groups['groups_name'] }}</option>
                {% endfor %}
                
            </select>
            <input type="submit" value="Add all Ingredients From Group">
        </form>
    </div>
    
    <br>
    

    <div id="index_table">

    </div>




</div>
<script src="{{ url_for('static', filename='script_mylist_index.js') }}"></script>
</div>

{% endblock %}