{% extends "main_template.html" %}



{% block title %}
MyList Login Page
{% endblock %}


{% block main %}
<div>

    <div >
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div>
        Welcome to MyList! <br> Please Login
    </div>

    <div>
        <table>
            <form action="/login" method="post">
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="username" autocomplete="off" placeholder="Username">
                    </td>
                    <td>
                        <input type="text" name="password" autocomplete="off" placeholder="Password">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Login">
                    </td>
                    <td>
                        <a href="/register">Register For Account</a>
                    </td>
                </tr>
            </form>
        </table>
    </div>
</div>

{% endblock %}