{% extends "main_template.html" %}



{% block title %}
MyList Login Page
{% endblock %}


<div>

    <div>
        {% block main %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% endblock %}
    </div>
    
    <div>
        Welcome to MyList! Please Login
    </div>

    <div>
        <form action="/" method="post">
            <table>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </table>
        </form>
    </div>
</div>
