{% extends "main_template.html" %}
{% include "loggedin_template.html" %}


{% block title %}
My items page!
{% endblock %}



{% block main %}

<div>
    My Items


    <div>
        <form action="/my_items" method="post">
            <table>
                <div>
                    <p>Add Items</p>
                </div>
                <tr>
                    <th>
                        <p>Item Name</p>
                    </th>
                </tr>
                <tr>
                    <td><input type="text" placeholder="Name" autocomplete="off" name="item_name" autofocus></td>
                    <td>
                        <input type="submit" value="Add">
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div>
        <table>
            <div>
                <p>My Items</p>
            </div>
            <tr>
                <th>
                    <p>Item</p>
                </th>
                <th>
                    <p>id
                </th>
                <th>
                    <p>user id</p>
                </th>
            </tr>

            {% for row in item %}

            <tr>
                <td>{{ row['item_name'] }}</td>
                <td>{{ row['item_id'] }}</td>
                <td>{{ row['user_id'] }}</td>
                <td>
                    <form action="/remove_item" method="post">
                        <input type="hidden" name="item_id" value="{{ row['item_id'] }}">
                        <input type="submit" value="Remove">
                    </form>
                </td>
            </tr>

            {% endfor %}
        </table>
    </div>


</div>

{% endblock %}