{% extends "main_template.html" %}


{% block title %}
My items page!
{% endblock %}



{% block main %}

<div>

    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div>
        My items Page!!
        <a href="/"> Home Page</a>
        <a href="/account"> My Account</a>
    </div>


    <div>
        <form action="/my_items" method="post">
            <table>
                <div>
                    <p>Add Items</p>
                </div>
                <tr>
                    <th>
                        <p>Item Name</p>
                    </th>
                    <th>
                        <p>Quantity
                    </th>
                    <th>
                        <p>When to Add</p>
                    </th>
                </tr>
                <tr>
                    <td><input type="text" placeholder="Name" autocomplete="off" name="item_name" autofocus></td>
                    <td><input type="text" placeholder="Quantity" autocomplete="off"></td>
                    <td><input type="text" placeholder="Days to Add" autocomplete="off"> Days</td>
                    <td>
                        <input type="submit" value="Add">
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div>
        <table>
            <div>
                <p>My Items</p>
            </div>
            <tr>
                <th>
                    <p>Item</p>
                </th>
                <th>
                    <p>id
                </th>
                <th>
                    <p>user id</p>
                </th>
            </tr>

            {% for row in custom_items %}

            <tr>
                <td>{{ row['item_name'] }}</td>
                <td>{{ row['custom_items_id'] }}</td>
                <td>{{ row['user_id'] }}</td>
                <td>
                    <form action="/remove_custom_item" method="post">
                        <input type="hidden" name="custom_items_id" value="{{ row['custom_items_id'] }}">
                        <input type="submit" value="Remove">
                    </form>
                </td>
            </tr>

            {% endfor %}
        </table>
    </div>


</div>

{% endblock %}