{% extends "main_template.html" %}



{% block title %}
MyList Account Creation Page
{% endblock %}


{% block main %}
<div>

    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div>
        Welcome to MyList Registration page! <br> Please Create an Account
    </div>

    <div>
        <table>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Password Verification</th>
                <th>Email</th>
                <th>Email Verification</th>
            </tr>
            <form >
                <tr>
                    <td>
                        <input type="text" name="username" placeholder="Username" autocomplete="off" autofocus>
                    </td>
                    <td>
                        <input type="password" name="password" placeholder="Password" autocomplete="off">
                    </td>
                    <td>
                        <input type="password" name="password_verification" placeholder="Password again" autocomplete="off">
                    </td>
                    <td>
                        <input type="text" name="email" placeholder="Email" autocomplete="off">
                    </td>
                    <td>
                        <input type="text" name="email_verification" placeholder="Email again" autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" formaction="/register" formmethod="post" value="Submit">
                        <input type="reset" value="Clear">
                    </td>
                    <td>
                        <a href="/login">Already Have an Account</a>
                    </td>
                </tr>
            </form>
        </table>
    </div>
</div>

{% endblock %}