{% extends "main_template.html" %}



{% block title %}
MyList Account Creation Page
{% endblock %}


{% block main %}
<div>

    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div>
        Welcome to MyList! <br> Please Create an Account
    </div>

    <div>
        <table>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Password Verification</th>
            </tr>
            <form >
                <tr>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" formaction="/" formmethod="post" value="Submit">
                    </td>
                    <td>
                        <input type="submit" formaction="/login" formmethod="get" value="Login Page">
                    </td>
                </tr>
            </form>
        </table>
    </div>
</div>

{% endblock %}