<div id="index_data">

    <div>
        <form id="active_list_add_item">

            <label for="item_to_add">Add an item to your list:</label>
            <input list="item" id="item_to_add" name="item_to_add" autocomplete="off" />
            <datalist id="item" name="item">
                {% for row in users_items %}
                <option value="{{ row['item_name'] }}"></option>
                {% endfor %}
            </datalist>
            <label for="quantity">Quantity</label>
            <input type="number" value="1" name="quantity" id="quantity" style="width: 40px;">
            <input type="submit">
        </form>
    </div>

    <div>
        <form id="add_from_group_verification">

            <label for="group_id">Add all items from group:</label>
            <select name="group_id" id="group_id">
                <option value="None" selected disabled>Group</option>
                {% for groups in users_groups %}
                <option value="{{ groups['groups_id'] }}">{{ groups['groups_name'] }}</option>
                {% endfor %}

            </select>
            <input type="submit" value="Add all Ingredients From Group">
        </form>
    </div>
    
    
    <table>
        <tr>
            <th>Item Name</th>
            <th>Origin</th>
            <th>Quantity</th>
        </tr>
        {% for rows in user_active_items %}
        <tr>
            <td>
                {{ rows['item_name'] }}
            </td>
            <td>
                {% if rows['groups_id'] is not none %}
                {% for group in users_groups %}
                {% if group['groups_id'] == rows['groups_id'] %}



                {{ group['groups_name'] }}

                
                
                {% endif %}
                {% endfor %}
                {% endif %}

            </td>
            <td>
                {{ rows['active_items_quantity'] }}
            </td>
            <td>
                <input type="number" onchange="change_quantity(this.id)" onkeyup="change_quantity(this.id)"
                    onclick="this.select();"
                    id="{{ rows['user_active_items_id'] }}" style="width: 40px;"
                    value="{{ rows['active_items_quantity'] }}">
            </td>
        </tr>
        {% endfor %}
    </table>
</div>