<div id="index_data">

    <div>
        {% if error is defined %}
        {{ error }}
        {% endif %}
    </div>


    Verify items and quantity adding to list!

    <div>

        <form id="add_from_group">
            <table>
                <div>
                    <p>{{ group_name[0] }} Items:</p>
                </div>


                <div>

                    <input type="hidden" name="groups_id" id="groups_id" value="{{ groups_items[0]['groups_id'] }}">
                    {% for group in groups_items %}

                    <div>

                        <ul>
                            <li>
                                <div>
                                    <h4>
                                        {{ group['item_name']}}
                                    </h4>
                                    <p>
                                        Quantity:
                                        <input type="number" name="{{ group['item_id'] }}"
                                            value="{{ group['quantity'] }}" style="width: 40px;"
                                            onclick="this.select();"
                                            min="0" required>
                                    </p>
                                </div>
                            </li>
                        </ul>


                    </div>

                    {% endfor %}

                    <input type="submit">
                </div>


            </table>
        </form>
    </div>

</div>