

<div id="groups_table">
    <table>
        <div>
            <p>My Groups</p>
        </div>
        <tr>
            <th>
                <p>Group id</p>
            </th>
            <th>
                <p>Group Name</p>
            </th>

        </tr>


        {% for row in groups %}





        <tr>
            <td>{{ row['groups_id'] }}</td>

            <td>
                <p>{{ row['groups_name'] }}
                    <br>
                    Ingredients:

                    {% for group in group_items %}
                    {% if group['groups_id'] == row['groups_id'] %}
                <div>

                    <ul>
                        <li>
                            <div>
                                <h4>
                                    {{ group['item_name']}}
                                </h4>
                                <p>
                                    <div id="quantity">
                                        Quantity:
                                        {{ group['quantity']}}
                                        <input type="number" onchange="update_quantity(this.id);" onkeyup="update_quantity(this.id);" id="{{ group['groups_items_id'] }}" name="new_quantity" value="{{ group['quantity'] }}"
                                        onclick="this.select();"
                                        style="width: 40px;">
                                    </div>
                                </p>
                            </div>
                        </li>
                    </ul>


                </div>

                {% endif %}
                {% endfor %}
                </p>
            </td>
            <td>
                <form action="/add_from_group_verification" method="post">
                    <input type="hidden" name="group_id" id="group_id" value="{{ row['groups_id'] }}">
                    <input type="submit" value="Add all Ingredients">
                </form>
            </td>







        </tr>



        {% endfor %}
    </table>
</div>