

<div id="my_groups_data">

    <div id="ajax_error_message">
        {% if error is defined %}
        {{ error }}
        {% endif %}
    </div>

    <form id="create_group">
        <table>
            <tr>
                <th>
                    <p>Create New Group</p>
                </th>
            </tr>
            <tr>
                <td><input type="text" placeholder="New Group" autocomplete="off" name="new_group_name" autofocus>
                </td>
                <td>
                    <input type="submit" value="Add">
                </td>
            </tr>
        </table>
    </form>

    <br>

    <form id="add_item_to_group" action="/add_to_group" method="post">
        
        
        <label for="groups">Choose A Group:</label>
        <select name="groups" id="groups">
            <option value="None" disabled selected>Group</option>

            {% for group in groups %}
            <option value="{{ group['groups_id'] }}">{{ group['groups_name'] }}</option>
            {% endfor %}

        </select>


        <label for="items">Choose An Item:</label>
        <select name="items" id="items">
            <option value="None" disabled selected>Item</option>

            {% for item in users_items %}
            <option value="{{ item['item_id'] }}">{{ item['item_name'] }}</option>
            {% endfor %}

        </select>


        <label for="quantity">Choose Amount:</label>
        <input name="quantity" id="quantity" type="number" value="1">


        <input type="submit">

    </form>

    <table>
        <div>
            <p>My Groups</p>
        </div>
        <tr>
            <th>
                <p>Group id</p>
            </th>
            <th>
                <p>Group Name</p>
            </th>

        </tr>


        {% for row in groups %}





        <tr>
            <td>{{ row['groups_id'] }}</td>

            <td>
                <p>{{ row['groups_name'] }}
                    <br>
                    Ingredients:

                    {% for group in group_items %}
                    {% if group['groups_id'] == row['groups_id'] %}
                <div>

                    <ul>
                        <li>
                            <div>
                                <h4>
                                    {{ group['item_name']}}
                                </h4>
                                <p>
                                    <div id="quantity">
                                        Quantity:
                                        {{ group['quantity']}}
                                        <input type="number" onchange="update_quantity(this.id);" onkeyup="update_quantity(this.id);" id="{{ group['groups_items_id'] }}" name="new_quantity" value="{{ group['quantity'] }}"
                                        style="width: 40px;">
                                    </div>
                                </p>
                            </div>
                        </li>
                    </ul>


                </div>

                {% endif %}
                {% endfor %}
                </p>
            </td>


            <td>
                <form id="edit_group">
                    <input type="hidden" name="group_id" id="group_id" value="{{ row['groups_id'] }}">
                    <input type="submit" value="Edit Group">
                </form>
            </td>

            <td>
                <form action="/add_from_group_verification" method="post">
                    <input type="hidden" name="group_id" id="group_id" value="{{ row['groups_id'] }}">
                    <input type="submit" value="Add to Grocery List">
                </form>
            </td>
                
            <td>
                <form id="delete_group">
                    <input type="hidden" name="group_to_delete" id="group_to_delete" value="{{ row['groups_id'] }}">
                    <input type="submit" value="X">
                </form>
            </td>







        </tr>



        {% endfor %}
    </table>
</div>