<div id="my_items_table">

    <div>

        <form action="/my_items_new_ajax" method="post">
            
            <input type="hidden" name="action" value="change_item_name">
            <table>
                <tr>
                    <th>
                        <p>Rename Item</p>
                    </th>
                </tr>
                <tr>
                    <td>
                        <label for="item_id">Select Item:</label>
                        <select name="item_id" id="item_id">
                            <option value="None" disabled selected>Items</option>

                            {% for row in item %}
                            <option value="{{ row['item_id'] }}">{{ row['item_name'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <label for="item_new_name">Choose new name</label>
                        <input type="text" id="item_new_name" name="item_new_name" placeholder="New Name">
                    </td>
                    <td>
                        <input type="submit">
                    </td>
                </tr>
            </table>

        </form>
    </div>
    <br>
    <div>
        <table>
            <tr>
                <th>
                    My Items
                </th>
            </tr>

            <tr>
                <th>
                    <p>Item</p>
                </th>
                <th>
                    <p>id
                </th>
                <th>
                    <p>user id</p>
                </th>
            </tr>


            {% for row in item %}

            <tr>
                <td>{{ row['item_name'] }}</td>
                <td>{{ row['item_id'] }}</td>
                <td>{{ row['user_id'] }}</td>
                <td>
                    <form action="/my_items_new_ajax" method="post">
                        <input type="hidden" name="action" value="remove_item">
                        <input type="hidden" name="item_id" value="{{ row['item_id'] }}">
                        <input type="submit" value="Remove">
                    </form>
                </td>
            </tr>

            {% endfor %}
        </table>
    </div>

</div>