body {
    background: linear-gradient(180deg, rgb(255 255 255 / 1) 0%, 90%, rgb(0 0 0 / 1) 100%) 0% 0% / 100.2% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.home-page-btn {
    color: white;
    background-color: #404040;
}

.home-page-btn:hover {
    color: white;
    background-color: #000000;
}

.imgframe {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    /* display: none; */
    /* border: solid; */
    /* border-color: white; */
}

.bannerimg_field {
    position: relative;
    top: -160%;
    left: 0%;
}

.bannerimg_dump {
    position: relative;
    top: -120%;
    left: -200px;
}

.bannerimg_fuel {
    position: relative;
    top: -240%;
    left: -200px;
}

.customeplaceholderstyling {
    height: 300px;
    width: 100%;
    /* visibility: hidden; */
}

#loading_img_frame {
    position: relative;
    height: 10vh;
    width: 10vh;
    border-radius: 5vh;
    background: linear-gradient(0deg, rgb(0 0 255 / 1) 0%, 50%, rgb(255 255 255 / 1) 100%) -10px -10px / 15vh 15vh no-repeat no-repeat;
    animation-name: loading_animation;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes loading_animation {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


#loading_img {
    height: 8vh;
    width: 8vh;
    position: relative;
    top: .6em;
    left: .6em;
    background-color: white;
    border-width: 10px;
    border-radius: 4vh;
}


.img_slidein_animation {
    animation-name: slide-in;
    animation-duration: 1s;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
}

@keyframes slide-in {
    from {
        transform: translate(0%, 100%);
    }
    to {
        transform: translate(0%, 0%);
    }
}