body {
    background-image: url("https://hdqwalls.com/wallpapers/ocean-waves-at-sunset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    backdrop-filter: blur(10px);
    margin: 10px;
}

.content_body {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;

}

.title_outer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_inner {
    background: rgba(255, 255, 255, .5);
    border-style: solid;
    border-color: rgba(0, 0, 0, .8);
    border-radius: 10px;
    width: fit-content;
}

.navigation_bar {
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
}

.options_outer {
    border-style: solid;
    border-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    background: rgba(230, 230, 230, .6);
    transition:
        background-color 500ms ease-out 10ms,
        box-shadow 50ms ease-out 0ms;
}

.options_outer:hover {
    background: rgba(255, 255, 255, .8);
}

.options_outer:active {
    box-shadow: inset 0 0 10px black;
}

.options_inner {
    width: fit-content;
    margin: 5px;
}

.content {
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    vertical-align: bottom;
}

.container_frame {
    display: flex;
    justify-content: space-around;
    height: 35em;
    width: 40em;
    margin: 40px;
}

.container {
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 0px;
    overflow: hidden;
    z-index: -1;
}

.images {
    color: red;
    display: flex;
    translate: 0%;
    z-index: -1;
}

img {
    height: 35em;
    width: 40em;
}

.slide_outer {
    display: inline-flex;
    translate: 0em;
}

.slide_inner{
    translate: 0%;
    height: 35em;
    width: 40em;
    background-color: rgba(255, 255, 255, .5);
}

.button_frame {
    display: flex;
    width: 85%;
    justify-content: space-between;
    position: absolute;
    translate: 0em 19em;
}
.button_left {
    background-image: url("https://cdn-icons-png.flaticon.com/512/271/271220.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    margin: 5px;
    height: 36px;
    width: 36px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .5);
    transition:
        background-color 500ms ease-out 10ms,
        box-shadow 50ms ease-out 10ms;
}

.button_left:hover{
    background-color: rgba(255, 255, 255, .8);
}

.button_left:active{
    box-shadow: inset 0 0 10px black;
}

.button_right {
    background-image: url("https://cdn-icons-png.flaticon.com/512/271/271220.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    transform: scaleX(-1);
    margin: 5px;
    height: 36px;
    width: 36px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .5);
    transition:
        background-color 500ms ease-out 10ms,
        box-shadow 50ms ease-out 10ms;
}

.button_right:hover{
    background-color: rgba(255, 255, 255, .8);
}

.button_right:active{
    box-shadow: inset 0 0 10px black;
}

.not_main_page_content{
    width: 100%;
    background-color: white;
    margin: 40px;
}